.App{
    background-image: url(./bg.jpg);
}
.headbg{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
}

.myCard{
    padding: 20px;
    border-radius: 12px;
    margin: 30px 0;
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.7);
    color: #fff;
}
.myCard input {
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.7);
    border: rgba(0, 0, 0, 0.5);
}
.showItem1{
    padding: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    margin: 10px;
}
.showItem2{
    padding: 20px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 15px;
    margin: 10px;
}
.showItem3{
    padding: 20px;
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 15px;
    margin: 10px;
}